.top_container {
  padding: 20px 10px;
}

.header_container {
  display: flex;
  justify-content: flex-start;
  div {
    margin-right: 10px;
  }
}

.face_img_container {
  margin-bottom: 20px;
  height: 150px;
  display: flex;
  align-items: flex-end;
}

.face_img {
  background-color: rgba(234, 234, 234, 0.5);
  border: 1px solid #e5e5e5d5;
  border-radius: 5px;
  margin-right: 10px;
}


.recognition {
  display: flex;
  justify-content: flex-start;
  color: #f1efef;
  height: 100%;
  width: 100%;
  max-width: 1227px;
  max-height: 568px;
}

.recognition_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #000000;
  width: 60%;
  padding: 10px 20px;
  margin-right: 20px;
  border: 1px solid #e5e5e5d5;
  border-radius: 5px;

  > span {
    padding-bottom: 10px 0;
  }
}

.video {
  width: 95%;
  height: 85%;
}

.data_table {
  background-color: #f1efef;
}