.top_container {
  padding: 20px 10px;
}

.recognition {
  display: flex;
  justify-content: center;
  color: #f1efef;
  height: 100%;
}

.recognition_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #000000;
  width: 80%;
  padding: 10px 20px;
  margin-right: 20px;
  border: 1px solid #e5e5e5d5;
  border-radius: 5px;

  > span {
    padding-bottom: 10px 0;
  }
}

.video {
  width: 80%;
  height: 80%;
}

.data_list {
  width: 20%;
  background-color: #fdfdfd;
  color: #000000;
  border: 1px solid #e5e5e5d5;
  border-radius: 5px;
}

.list_title {
  border-bottom: 1px solid #e5e5e5d5;
  padding: 5px;
}