.time_container {
  color: #eaebf9;
  font-size: 16px;
  border: 1px solid #e5e5e5d5;
  border-radius: 5px;
  width: 230px;
  margin-bottom: 20px;
  background-color: rgba(234, 234, 234, 0.5);
  padding: 5px 5px;
}

.time_title {
  text-align: start;
}

.oClock {
  font-size: 36px;
  font-weight: 600;
}

.day {
  text-align: end;
}